table {
    border-collapse: collapse;
    border-radius: var(--button-border-radius);
    overflow: hidden;

    th,
    td {
        border: solid var(--d-separator-clr) var(--card-padding);
        font-size: var(--font-size-paragraph);
        font-weight: 400;
        padding: var(--card-padding);
    }

    th {
        background-color: var(--d-light-clr);
    }
}

#promotional-material {
    border: solid var(--d-separator-clr) var(--card-padding);
    border-radius: var(--button-border-radius);
    width: Min(600px, 100%);
    height: auto;
}

.image-set {
    display: flex;
    flex-direction: column;

    p {
        font-style: italic;
        font-size: var(--font-size-button);
        margin-bottom: var(--padding-nav-block);
    }
}

.data-set {
    border-radius: var(--button-border-radius);
    width: var(--card-height);
}

@media screen and (max-width: 1060px) {
    .general-container {
        .content {
            flex-direction: column;

            .content-nav {
                display: none;
            }
        }
    }
}